<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- Used only for an explicit, connected setup of ML Kit's on-device models. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent><action android:name="android.intent.action.TTS_SERVICE" /></intent>
    </queries>
    <application android:label="FieldTalk" android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:icon="@drawable/ic_fieldtalk" android:usesCleartextTraffic="false" android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
